body {
    background-image: ""; /*look up photos of the Hokitika*/
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    color:turquoise;
    text-align: center;
}

form {
    margin-left: 20px;
}

#water-buttons {
    margin-left: 16px;
}