body {
    position: relative;
    background: url("../images/GatesofArgonath.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    text-align: center;
    color:turquoise;
}
    

h3 {
    margin-left: 20px;
    margin-top: 30px;
    color: white;
}

form {
    margin-left: 20px;
    color: white;
}

#water-buttons {
    margin-left: 16px;
}

img {
    height: 140px;
}